<launch>
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find rt_exam)/urdf/5_wheel_bot.urdf.xacro'"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="bot_controller" pkg="rt_exam" type="bot_controller"/>
	<node name="bot_mover" pkg="rt_exam" type="mover_node"/>
	<node name="rviz" pkg="rviz" type="rviz" args ="-d $(find rt_exam)/config/config_rviz.rviz"/>
</launch>


